<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete a Cube</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>
<body>
    <div class="container">
        <header>
           {{> navigation}}
        </header>
        <main>

      <h1>{{cube.name}} </h1>
      <img class="cube" src="{{cube.image_url}}">
      <div class="details">
        <p><span>Description:</span> {{cube.description}}</p>
        <p><span>Difficulty level:</span> {{cube.level}}</p>
        <div class="alert alert-danger" role="alert">
 WARNING THIS IS PERMANENT THERE IS NO UNDO, CONTINUE?
</div>
         
         <div class="text-center"> 
           <form action="/delete/{{cube.id}}" method="POST">
      <input type="text" id="name" name="name" value="" disabled="true"/>
              <input class="btn btn-danger" type="submit" value="DELETE THE CUBE "/>
          </form>
           
           
           <a class="btn btn-danger text-center" href="/delete/{{cube._id}}">Delete</a></div>
            </div>
            <h2>Accessories</h2>
            <div class="accessories">
            {{#if cube.accessories}}
              {{#each cube.accessories }}
                 <div class="accessory">
                    <img src="{{imageUrl}}" alt="stickerName">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </div>
              {{/each}}
              {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>
              {{/if}}
            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>
</html>