
  <div class="container">
    <header>
    {{> navigation}}
    </header>
    <main>
      <h1 class="rubik text-primary text-center">WELCOME TO CUBE KEEPER</h1>
      <div class="row justify-content-between">
      {{#each cube}}
        <div class="cube col-3 m-2 p-2 bg-light border border-primary border-4 text-center">
          <img class="cube" src="{{image_url}}">
          <p class="name">{{name}}</p>
          <p><span>Difficulty level: </span>{{level}}</p>

          

          <a class="btn btn-primary " href="/details/{{_id}} ">Details</a>
        </div>
      
      {{else}}
        <h2> No Cubes found</h2>
      {{/each}}
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

